﻿@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="product-grid home-page-product-grid">
        <div class="mid-content-title">
            <h2 class="title text-center">@T("HomePage.Products")</h2>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4 col-sm-6 col-md-12">
                    <div class="item-box">
                        @await Html.PartialAsync("_ProductBox", item)
                    </div>
                </div>
            }
        </div>

    </div>
    @:<br />
}