﻿@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="collaps-filter">
        <h2>@T("Products.RecentlyViewedProducts")</h2>
        <div class="brands-name filter-content">
            @for (int i = 0; i < Model.Count; i++)
            {
                var product = Model[i];
                <div class="media">
                    @if (!String.IsNullOrEmpty(product.DefaultPictureModel.ImageUrl))
                    {
                        <div class="media-left media-middle">
                            <a class="product-picture" href="@Url.RouteUrl("Product", new { SeName = product.SeName })" title="@product.DefaultPictureModel.Title">
                                <img class="img-thumbnail" alt="@product.DefaultPictureModel.AlternateText" src="@product.DefaultPictureModel.ImageUrl" title="@product.DefaultPictureModel.Title" />
                            </a>
                        </div>
                    }
                    <div class="media-body">
                        <a class="product-name" href="@Url.RouteUrl("Product", new { SeName = product.SeName })">@product.Name</a>
                    </div>
                </div>
            }
        </div>
    </div>
}