﻿
@inject IThemeContext themeContext

@{ 
    var themeName = await themeContext.GetWorkingThemeNameAsync();
    var topslider1 = "/Themes/"+themeName+"/Content/images/home/girl1.jpg";
    var topslider2 = "/Themes/"+themeName+"/Content/images/home/girl2.jpg";
    var topslider3 = "/Themes/"+themeName+"/Content/images/home/girl3.jpg";
    var pricing = "/Themes/"+themeName+"/Content/images/home/pricing.png";
                     <section id="slider">
         
                 <div class="container">
            <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#slider-carousel" data-slide-to="1" class=""></li>
                    <li data-target="#slider-carousel" data-slide-to="2" class=""></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-sm-6">
                            <h1><span>E</span>-SHOPPER</h1>
                            <h2>Free E-Commerce Template</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <button type="button" class="btn btn-primary get">Get it now</button>
                        </div>
                       
                        <div class="col-sm-6">
                            <img src="@topslider1" class="girl img-responsive" alt="">
                            <img src="@pricing" class="pricing" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-sm-6">
                            <h1><span>E</span>-SHOPPER</h1>
                            <h2>100% Responsive Design</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <button type="button" class="btn btn-primary get">Get it now</button>
                        </div>
                        <div class="col-sm-6">
                            <img src="@topslider2" class="girl img-responsive" alt="">
                            <img src="@pricing" class="pricing" alt="">
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-sm-6">
                            <h1><span>E</span>-SHOPPER</h1>
                            <h2>Free Ecommerce Template</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <button type="button" class="btn btn-primary get">Get it now</button>
                        </div>
                        <div class="col-sm-6">
                            <img src="@topslider3" class="girl img-responsive" alt="">
                            <img src="@pricing" class="pricing" alt="">
                        </div>
                    </div>

                </div>

                <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </section> }