﻿@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.UI
@inject IThemeContext themeContext
@inject IWorkContext workContext
@{

    var themeName = await themeContext.GetWorkingThemeNameAsync();
    var supportRtl = (await workContext.GetWorkingLanguageAsync()).Rtl;
    var orangeColor = "Themes/" + themeName + "/Content/css/color-styles/orange.css";
    if (supportRtl)
    {
        Html.AppendCssFileParts($"~/Themes/{themeName}/Content/css/main.rtl.css");
        Html.AppendCssFileParts($"~/Themes/{themeName}/Content/css/animate.css");
        Html.AppendCssFileParts($"~/Themes/{themeName}/Content/css/prettyPhoto.css");
        Html.AppendCssFileParts($"~/Themes/{themeName}/Content/css/responsive.css");

        Html.AppendCssFileParts($"~/Themes/{themeName}/Content/bootstrap-3.2.0/css/bootstrap.rtl.css");
        Html.AppendCssFileParts($"~/Themes/{themeName}/Content/bootstrap-3.2.0/css/bootstrap.min.css");
        Html.AppendCssFileParts($"~/Themes/{themeName}/Content/font-awosome-4.0.3/css/font-awesome.rtl.css");
        Html.AppendCssFileParts("~/lib_npm/jquery-ui-dist/jquery-ui.min.css");
    }
    else
    {
        Html.AppendCssFileParts($"~/Themes/{themeName}/Content/css/main.css");
        Html.AppendCssFileParts($"~/Themes/{themeName}/Content/css/animate.css");
        Html.AppendCssFileParts($"~/Themes/{themeName}/Content/css/prettyPhoto.css");
        Html.AppendCssFileParts($"~/Themes/{themeName}/Content/css/responsive.css");

        Html.AppendCssFileParts($"~/Themes/{themeName}/Content/bootstrap-3.2.0/css/bootstrap.min.css");
        Html.AppendCssFileParts($"~/Themes/{themeName}/Content/font-awosome-4.0.3/css/font-awesome.min.css");
        Html.AppendCssFileParts("~/lib_npm/jquery-ui-dist/jquery-ui.min.css");
    }
    <link rel="stylesheet" type="text/css" href="@orangeColor" title="orange" media="screen" />
    @*<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>*@
    <meta name="viewport" content="width=device-width, initial-scale=1">
}