﻿<div class="header-middle">
    <!--header-middle-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="logo pull-left">
                        @await Component.InvokeAsync("Logo")
                </div>
                <div class="btn-group pull-right btn-flx">
                        @await Component.InvokeAsync("TaxTypeSelector")

                        @await Component.InvokeAsync("CurrencySelector")

                        @await Component.InvokeAsync("LanguageSelector")
                </div>
            </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        @await Component.InvokeAsync("HeaderLinks")
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @await Html.PartialAsync("_Notifications")
        </div>
    </div>
</div>








