@model ProductDetailsModel.ProductBreadcrumbModel
@using Nop.Core.Domain.Common
@inject CommonSettings commonSettings
@{
    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;
}
@if (Model.Enabled)
{
<div class="custom-page-box-border-less-div">
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.RouteUrl("HomePage")" itemprop="url">@T("Products.Breadcrumb.Top")</a>
            </li>
            @foreach (var category in Model.CategoryBreadcrumb)
            {
                <li>
                    <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" itemprop="url">@category.Name</a>
                </li>
            }
            <li class="active">
                @Model.ProductName
            </li>
        </ol>
    </div>
</div>
}